.tile.tile-position-1-1 {
  -webkit-transform: translate(14.11765%, 14.11765%);
  -moz-transform: translate(14.11765%, 14.11765%);
  transform: translate(14.11765%, 14.11765%); }

.tile.tile-position-1-2 {
  -webkit-transform: translate(14.11765%, 128.23529%);
  -moz-transform: translate(14.11765%, 128.23529%);
  transform: translate(14.11765%, 128.23529%); }

.tile.tile-position-1-3 {
  -webkit-transform: translate(14.11765%, 242.35294%);
  -moz-transform: translate(14.11765%, 242.35294%);
  transform: translate(14.11765%, 242.35294%); }

.tile.tile-position-1-4 {
  -webkit-transform: translate(14.11765%, 356.47059%);
  -moz-transform: translate(14.11765%, 356.47059%);
  transform: translate(14.11765%, 356.47059%); }

.tile.tile-position-2-1 {
  -webkit-transform: translate(128.23529%, 14.11765%);
  -moz-transform: translate(128.23529%, 14.11765%);
  transform: translate(128.23529%, 14.11765%); }

.tile.tile-position-2-2 {
  -webkit-transform: translate(128.23529%, 128.23529%);
  -moz-transform: translate(128.23529%, 128.23529%);
  transform: translate(128.23529%, 128.23529%); }

.tile.tile-position-2-3 {
  -webkit-transform: translate(128.23529%, 242.35294%);
  -moz-transform: translate(128.23529%, 242.35294%);
  transform: translate(128.23529%, 242.35294%); }

.tile.tile-position-2-4 {
  -webkit-transform: translate(128.23529%, 356.47059%);
  -moz-transform: translate(128.23529%, 356.47059%);
  transform: translate(128.23529%, 356.47059%); }

.tile.tile-position-3-1 {
  -webkit-transform: translate(242.35294%, 14.11765%);
  -moz-transform: translate(242.35294%, 14.11765%);
  transform: translate(242.35294%, 14.11765%); }

.tile.tile-position-3-2 {
  -webkit-transform: translate(242.35294%, 128.23529%);
  -moz-transform: translate(242.35294%, 128.23529%);
  transform: translate(242.35294%, 128.23529%); }

.tile.tile-position-3-3 {
  -webkit-transform: translate(242.35294%, 242.35294%);
  -moz-transform: translate(242.35294%, 242.35294%);
  transform: translate(242.35294%, 242.35294%); }

.tile.tile-position-3-4 {
  -webkit-transform: translate(242.35294%, 356.47059%);
  -moz-transform: translate(242.35294%, 356.47059%);
  transform: translate(242.35294%, 356.47059%); }

.tile.tile-position-4-1 {
  -webkit-transform: translate(356.47059%, 14.11765%);
  -moz-transform: translate(356.47059%, 14.11765%);
  transform: translate(356.47059%, 14.11765%); }

.tile.tile-position-4-2 {
  -webkit-transform: translate(356.47059%, 128.23529%);
  -moz-transform: translate(356.47059%, 128.23529%);
  transform: translate(356.47059%, 128.23529%); }

.tile.tile-position-4-3 {
  -webkit-transform: translate(356.47059%, 242.35294%);
  -moz-transform: translate(356.47059%, 242.35294%);
  transform: translate(356.47059%, 242.35294%); }

.tile.tile-position-4-4 {
  -webkit-transform: translate(356.47059%, 356.47059%);
  -moz-transform: translate(356.47059%, 356.47059%);
  transform: translate(356.47059%, 356.47059%); }

/*# sourceMappingURL=tile_pos.css.map */
