@media(max-width: 480px) {

	form#xmu-form {
		margin: 20px auto;
		width: 100%;
	}

	form#xmu-form input {
		width: 85%;
	}

	form#xmu-form .button {
		margin: 15px 6px 10px 7px;
		width: 80px;
	}

	.buttons {
		width: 231px;
	}
}