/*适应移动端调整common样式*/
@media(max-width: 480px) {

	#header {
		height: 45px;
		padding-top: 10px;
                !important
	}

	#header h1 {
		font-size: 26px;
                !important
	}

	#header span {
		font-size: 16px;
		margin-top: 11px;
                !important
	}

	#content{
		padding:15px 10px;
                !important
	}

	#content h2.title{
		font-size: 20px;
		width:80%;
               !important
	}

	#footer{

	}

	#footer .credits{
		padding:10px 0;
               !important
	}

	#footer .copyrights{
		padding:10px 0;
                !important
	}

	#footer p {
		font-size: 80%;
                !important
	}

	.wrapper {
		width: 96%;
		margin:0 auto;
               !important
	}
}
