#avatar {
    color: #b5b5b5;
    margin-bottom: 20px;
}

#avatar .wrap {
    width: 30%;
    margin: 5px auto;
    padding: 5px;
    border: 1px solid #fff;
    border-radius: 50%;
}

#avatar .wrap img {
    width: 100%;
    border-radius: 50%;
}

#list ul {
    -webkit-padding-start: 0;
    position: relative;
}

#list li.act {
    margin: 10px 10px;
    float: left;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    -webkit-transition: transform .5s;
    -moz-transition: transform .5s;
    -o-transition: transform .5s;
    transition: transform .5s;
}

.act.current {
    -webkit-box-shadow:  0 0 5px hsla(0, 0%, 75%, 5);
    -moz-box-shadow: 0 0 5px hsla(0, 0%, 75%, 5);
    box-shadow: 0 0 5px hsla(0, 0%, 75%, 5);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
}

.act .top {
    background: #ffffff;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    text-align: left;
    color: #9d9c9c;
    padding: 5px 0 0 5px;
}

.top h4 {
    color: #63de94;
    margin-top:5px;
    margin-right: 1.5em;
    word-break:break-all;
}

.top p span {
    color: #000;
}

.top .edit {
    display: inline;
    position: absolute;
    right: 8px;
    top: 7px;
}

.view-members {
    margin: 5px auto 0;
    display: block;
}

.view-members::before {
    content: url("../img/member.png");
}

.act .bottom {
    font-size: 15px;
    color: #fff;
    text-align: right;
    height:50px;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
    background: -moz-linear-gradient(left, #689ebd, #a27bba); /*Mozilla*/
    background: -webkit-gradient(linear, 0 50%, 100% 50%, from(#689ebd), to(#a27bba)); /*Old gradient for webkit*/
    background: -webkit-linear-gradient(left, #689ebd, #a27bba); /*new gradient for Webkit*/
    background: -o-linear-gradient(left, #689ebd, #a27bba); /*Opera11*/
}
.act .bottom div{
    float: left;
    white-space: nowrap;
    height: 50px;
    width: 50%;
    text-align:center;
    line-height: 50px;
}

.act .bottom div:first-child{
    border-right: 2px solid #fff;
}

.act .bottom div:last-child{
    border-left: 2px solid #fff;
}

.act .bottom:hover {
    cursor: pointer;
}

#d {
    color: #afb2b2;
}
.edit img{
    float:right;
    width: 1.5em;
}
#new {
    border-radius: 8px;
    border: none;
    padding: 0 20px;
    font-size: 140%;
    font-family: "Microsoft YaHei", sans-serif;
    color: #fff;
    background-color: #c2c2ed;
    margin-bottom: 10px;
}
#update .modal-body{
    font-size:20px;
    color:#b5b5b5;
}
.name,.content,.deadline,.limitNum{
    margin-top:10px;
}
.name input,.content textarea,.deadline input,.limitNum input{
    width:100%;
    margin-top:10px;
}
#update .modal-body input textarea{
    width:100%;
}

#list {
    overflow: hidden;
}