#content{
	padding:20px;
}
.labels{
	background-color: #fff;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;

}
.labels ul{
	padding:10px;
	text-align:left;
}
.labels ul li{
	width:80px;
	height: 80px;
	margin-top:10px;
	margin-left:5px;
	margin-right:5px;
	display:inline-block;
}
.picture{
	height:75%;
	text-align: center;
	background-color: #e5e5e5;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	font-size:10px;
}
.picture img{
	width:50%;
	height:70%;
}
.love{
	height:25%;

	text-align: center;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	background: -moz-linear-gradient(left, #689ebd, #a27bba); /*Mozilla*/
    background: -webkit-gradient(linear, 0 50%, 100% 50%, from(#689ebd), to(#a27bba)); /*Old gradient for webkit*/
    background: -webkit-linear-gradient(left, #689ebd, #a27bba); /*new gradient for Webkit*/
    background: -o-linear-gradient(left, #689ebd, #a27bba); /*Opera11*/
}
.love img{
	height:90%;
	width:20%;
}
.save{
	height:50px;
    font-size: 120%;
    color: #fff;
    text-align: center;
    padding: 10px 20px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    background: -moz-linear-gradient(left, #689ebd, #a27bba); /*Mozilla*/
    background: -webkit-gradient(linear, 0 50%, 100% 50%, from(#689ebd), to(#a27bba)); /*Old gradient for webkit*/
    background: -webkit-linear-gradient(left, #689ebd, #a27bba); /*new gradient for Webkit*/
    background: -o-linear-gradient(left, #689ebd, #a27bba); /*Opera11*/
}

.save:hover{
    cursor: pointer;
}